@import "../node_modules/bootstrap/scss/bootstrap";

.todo-input-group {
  width: 100% !important;
}

.todo {
  padding: $spacer / 2 0;

  &.todo-complete * {
    color: $text-muted;
    text-decoration: line-through;

    .todo-trash {
      color: $text-muted !important;
    }

    .custom-control-input {
      &:checked ~ .custom-control-label::before {
        background-color: $gray-600;
      }
      &:indeterminate ~ .custom-control-label::before {
        background-color: $gray-600;
      }
    }
  }

  .todo-trash {
    background: none !important;
    border: none !important;
    color: $body-color !important;
    box-shadow: none !important;
    float: right;
    opacity: 0;
    @include transition($transition-fade);
  }
  &:hover .todo-trash {
    opacity: 1;
  }

  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    @include transition($transition-fade);
  }

  &-exit {
    opacity: 1;
  }
  &-exit-active {
    opacity: 0;
    @include transition($transition-fade);
  }
}
